package {{rootPackage}}.service;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.cglib.beans.BeanCopier;
import org.springframework.stereotype.Service;

import {{rootPackage}}.api.UserService;
import {{rootPackage}}.api.model.UserModel;
{{#hasDataJpaDependency}}
import {{rootPackage}}.dao.dataobject.UserDO;
import {{rootPackage}}.repository.UserRepository;
{{/hasDataJpaDependency}}

@Service
public class UserServiceImpl implements UserService {

	{{#hasDataJpaDependency}}
    @Autowired
	UserRepository repo;
    {{/hasDataJpaDependency}}

    {{#notDependency}}

    public String getUserName(String loginId) {
        return null;
    }

    public UserModel addUser(UserModel user) {
        return null;
    }
    {{/notDependency}}

    {{#hasDataJpaDependency}}
    private static final BeanCopier copier = BeanCopier.create(UserModel.class, UserDO.class, false);

    public String getUserName(String loginId) {
        UserDO userDO = repo.findByLoginId(loginId);
        return userDO != null ? userDO.getName() : null;
    }

    public UserModel addUser(UserModel user) {
        UserDO userDO = new UserDO();
        repo.save(userDO);
        
        copier.copy(user, userDO, null);
        
        return user;
    }
    {{/hasDataJpaDependency}}

}