package {{rootPackage}}.repository;

import org.springframework.data.jpa.repository.JpaRepository;

import {{rootPackage}}.dao.dataobject.UserDO;

public interface UserRepository extends JpaRepository<UserDO, Long> {

	UserDO getByName(String name);

	UserDO getById(Long id);
}
